@import url(common.css);
/*登陆页*/
body{  overflow: hidden; background:#86c3ec;}
.logo_1110_131012{ /*text-align:right;*/position: absolute; top: 8%; right: 4%;}
.logo_1110_131012 img{ /*margin:25px 20px 0 0;*/}
.login_131012{width: 330px; height: 317px; background: url(img/bg_login111.png) no-repeat; /*padding: 32px 0 0 48px; margin: 15% 60%;*/position: absolute; right: 13%; top: 46%;}
.login_131012 h3{ font-size: 19px; color: #0975bf;}
.title_1110_131012{position: absolute; top: 9%; left: 4%;}
.title_1110_131012 h1{color:#fff;}
.yuanlogo_1110_131012{position: absolute; bottom: 0; left: 0;z-index: -99}
.login_131012 .login_table{ margin: 0px 0 0 3px;}
.login_131012 .login_table tr{ margin-bottom: 10px; height: 37px; *height:35px;font-size: 16px;}
.login_131012 .login_table tr td input{ border: none; height: 34px; line-height: 34px; font-size: 17px; width: 204px;}
.login_131012 .login_table tr td span{ color:#28519a; }
.login_131012 .btn_box{ /*width: 270px;*/ padding: 25px 0 0 20px;}
.login_131012 .btn{ width: 120px; display: block; background: url(img/btn-login11.png) no-repeat;
	margin-right: 35px; height: 27px; float: left; border: none; font-size: 16px; color: #fff;
	font-weight: bold;}
.bottom_t{ position: absolute; right: 0px; bottom: 0px;}
.bottom_b{ position: absolute; right: 0px; bottom: 0px;}
/*.spe_logo{ position: absolute; left: 0px; bottom: 0px; }*/
.login_131012 .login_table tr.spe_tr{height:1px;}
